table {
    border-collapse: collapse;
    border-radius: 5px;
    width: 50rem;
  }
  
  table, td, th {
    border: 0.1rem solid black;
    padding: 20px 20px 20px 20px;

  }
  .table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding:10px 40px; 
  }

