.CategoryBar{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-radius: 0.5rem;
  }
  
  .listelement {
    float: left;
  }
  
  .listlink {
    display:inline-block;
    color: black;
    text-align: center;
    background-color: rgb(196, 196, 196);
    padding: 10px 20px;
    font-size: 14px;
    text-transform: capitalize;
  }

  .listlink:hover {
    background-color: white;
    outline: none;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
