.nav{
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart{
    padding-right: 2rem;
    font-size: 3rem;
}
.bubble{
    position: absolute;
    top: 5px;
    right: 15px;
    color: black;
    font-size: 16px;
    border: solid 1px;
    border-radius: 50%;
    padding: 4px 8px;
}

svg {
    margin-top: 20px;
}